<div class=container>
  <h1><%= @restaurant.name %></h1>
  <p>Category <%= @restaurant.category.capitalize %></p>
  <p>Address <%= @restaurant.address %></p>
  <p>Phone <%= @restaurant.phone_number %></p>
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% if @restaurant.reviews.any?  %>
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item"><%= review.content %></li>
      <% end %>
    <% else %>
      <p>No reviews yet.</p>
    <% end %>
  </ul>
  <br>
  <div><%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %></div>
  <div><%= link_to "Back to list", restaurants_path %></div>
</div>
