<div class=container>
  <h1><%= @restaurant.name %></h1>
  <p>Category <%= @restaurant.category.capitalize %></p>
  <p>Address <%= @restaurant.address %></p>
  <p>Phone <%= @restaurant.phone_number %></p>
  <p>
    <%= link_to "Home", restaurants_path, class: 'btn btn-primary' %>


  <p><strong>Reviews</strong></p>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item"><%= review.content %></li>
      <% end %>
    </ul>
  <br>

</div>
